
.scrolling-track {
  display: flex;
  gap: 0.1rem;
  animation: scroll 30s linear infinite;
  cursor: grab;
}

.scrolling-track-reversed {
  display: flex;
  gap: 0.1rem;
  animation: scroll-reversed 30s linear infinite;
  cursor: grab;
}

.scrolling-track:hover,
.scrolling-track-reversed:hover {
  animation-play-state: paused;
}

.testimonial-card {
  flex-shrink: 0;
  flex-grow: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reversed {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}